* {
    box-sizing: border-box;
}

html {    
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 203, 240);
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;    
    background-color: white;    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 50px;    
}

.logo {    
    transition: transform 2s;
}

.logo:hover {    
    transform: rotate(180deg);
}

.github-logo {
    display: block;
    width: 50px;
    height: 50px;
    background: no-repeat center;
    background-image: url("./src/github.svg");
}

.github-logo:hover {
    background-image: url("./src/github2.svg");
}

.navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;  
    margin: 0;  
    padding: 20px 0 15px;
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
}

.navigation li {
    width: 150px;
    text-align: center;
    background-color: #083b66;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px blueviolet;
    transition: all 0.5s;
}

.navigation li:hover {
    background-color: blueviolet;
    box-shadow: 2px 2px 2px #083b66;
}

.navigation li.active {    
    /* background: linear-gradient(to bottom right, rgb(222, 203, 240), blueviolet); */
    background-color: blueviolet;
    opacity: 0.8;
    box-shadow: inset 0 0 5px 0 #083b66 ;
}

.navigation li.active:hover {
   background: blueviolet;
   opacity: 1;
}

.navigation li.active a {
    cursor: default;
}

.navigation a {
    font-weight: bold;    
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

header a {
    text-decoration: none;
}

main {
    padding: 20px 40px;
}

h1, h2 {
    color: #083b66;
    text-align: center;
    text-transform: uppercase;    
    text-shadow: 1px 2px blueviolet;
    padding: 10px;
    transition: all 0.5s;
    }

    h1 {
        font-size: 32px;
    }

h1:hover {
    color: blueviolet;
    text-shadow: 1px 2px #083b66;
}

h2 {
    color: blueviolet;
    font-size: 28px;
    text-shadow: 1px 1px #083b66;
}


h3 {
    color: blueviolet;
    padding-left: 40px;
    margin-top: 40px;
}

li {
    margin-bottom: 10px;
}

img.center {
    display: block;
    width: 50%;
    margin: 10px auto;
}

.bigImg {
    display: block;
    width: 90%;   
    margin: 10px auto;
}

details {
    background-color: bisque;
    padding: 20px;
}
